<h1>Edit Patient</h1>

<%= form_for @patient do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, require: true, placeholder: 'First Name' %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, require: true, placeholder: 'Last Name' %>

  <%= f.submit %>

<% end %>
