<h1>Add Doctor</h1>

<%= form_for @doctor do |f| %>

  <%= f.label :doctor_name %>
  <%= f.text_field :doctor_name, required: true, placeholder: 'Dr. (Last Name)'%>

  <%= f.label :doctor_type %>
  <%= f.text_field :doctor_type, required: true, placeholder: 'Doctor Type' %>

  <%= f.submit %>

<% end %>
