<div id='button'>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
</div>
<h1 class='title'>New Appointment</h1>

<%= form_with(model: [@doctor, @appointment], local: true) do |f| %>
<br/>
<div class='form'>
  <%= f.label :appointment_type %>
</div>
<div class='form'>
  <%= f.text_field :appointment_type, require: true, placeholder: 'Type Of Appointment' %>
</div>
<br/>
<div class='form'>
  <%= f.label :appointment_time %>
</div>
<div class='form'>
  <%= f.text_field :appointment_time, require: true, placeholder: 'Appointment Time' %>
</div>
<br/>
<div class='form'>
  <%= f.label :patient_id %>
</div>
<div class='form'>
  <%= f.select :patient_id, @patients.collect { |p| [p.id, p.id] }, require: true %>
</div>
<br/>
<div class='form'>
  <%= f.submit %>
</div>
<% end %>

<br/>
